*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.barra {
  display: flex;
  width: 70%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  border-radius: 8px;
  margin-left: 20%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;

}

.portugues {
  background-color: #7B1FA2;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;

}

.portugues::after {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 38%;
  width: 25%;
  height: 4px;
  background-color: #ffffff;

}


.matematica {
  background-color: #4AC9F1;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}

.barra span {
  font-size: 28px;
  line-height: 1;
}

.barra a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*  */


.container {
  
  position: relative;
  margin-left: 40%;
  width: 400px;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: gray;
  transition: background-color 0.3s ease;
}

.button.yellow {
  background-color: #7B1FA2;
}

.button.gray {
  background-color: #717171;
}

.start {
  width: 80px;
  height: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #7B1FA2;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 38%;
  margin-top: 20px;
  position: relative;
  border: 2px solid #7B1FA2;
}

.start::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #ffffff;
  border-top-color: #7B1FA2;
}


.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 30%;
}

.row2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 30%;
}


.row3 {
  justify-content: flex-start;
  margin-left: 78%;
}

.row4 {
  justify-content: flex-end;
  margin-left: 90%;
}

.row5 {
  /* display: flex; */
  justify-content: center;

  margin-left: 110%;
}

/* Espaçamento extra */
.spacer {
  height: 20px;
}